/* CSS declarations go here */
.table tbody>tr>td{
  vertical-align: middle;
  border: 1px solid white;
  text-align: center;
  padding: 10px;
  width: 150px;
}

.cuadroFecha {
  background-color: #43e7a0;
}

.propuesta {
  background-color: #ccc;
  color: black;
}

.propuesta.seleccionada {
  background-color: #e3eaa7;
  width: 150px;
}

.propuesta.oscurecida {
  filter: opacity(10%);
}

.propuesta.destacada {
  background-color: #fe4;
  color: black;
}

.sacra {
  background-color: #cfe0e8;
}

.camara {
  background-color: #b7d7e8;
}

.teclados {
  background-color: #87bdd8;
}

.antigua {
  background-color: #daebe8;
}
