/* CSS declarations go here */
.contenido {
  width: 2600px;
}

.table tbody>tr>td{
  vertical-align: middle;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 200px;
}

.propuesta {
  background-color: #ccc;
}

.propuesta.disponible {
  background-color: #e3eaa7;
}

.propuesta.oscurecida {
  filter: opacity(10%);
}

.propuesta.destacada {
  background-color: #fe4;
}

.fechaDestacada {
  color: red !important;
}

.sacra {
  background-color: #cfe0e8;
  color: #352;
}

.camara {
  background-color: #b7d7e8;
  color: #352;
}

.teclados {
  background-color: #87bdd8;
  color: #352;
}

.antigua {
  background-color: #daebe8;
  color: #352;
}

.extra {
  background-color: #cbb;
  color: #352;
}
